
.nav-link{
    color: white !important;
}


.card{
    border: 5px !important;
    border-radius: 10px !important;
}

button{
    border: none !important;
}


marquee{
    background-color: blue ;
    color: white;
    
}

.market ul{
    font-size: 8pt;
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

.market li{
    display: block;
    padding: 14px 16px;
    text-decoration: none; 
    float: left;
  }

  .content{
    height: 470px;
    overflow: hidden;
    padding: 14px 10px;
    overflow-y: scroll;
    background-color: #F4F4F5;
}

.content a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}

.tv h3{
    margin-top: 2%;
    color: #468CD1;;
}

.business h3{
    margin-top: 2%;
    color: #468CD1;;
}

.business-text{
    color: black;
    text-decoration: none;
    font-weight: bold;  
}

.card-footer{
    background-color: white !important;
    border: none !important;
}

.space{
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
       
    .market ul{
        font-size: 8pt;
        list-style-type: none;
        padding: 0;
        overflow: hidden;
    
    }
    
    .market li{
        display: block;
        padding: 10px 10px;
        text-decoration: none; 
        float: left;
      }
      .pr-2, .px-2 {
        padding-right: 0rem!important;
    }

    .space{
        margin-top: 35%;
    }
    .spaceScreen{
        margin-bottom: 1%;
    }

    .content{
        height: 470px;
        overflow: hidden;
        padding: 14px 10px;
        overflow-y: scroll;
        background-color: #F4F4F5;
        margin-bottom: 1%;
    }
      
  }


  .foot{
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
      margin-top: 0rem !important;
      padding-bottom: 0rem !important;
  }